

html {
    overflow: hidden;
}
body {
    background-color: white;
    margin: 0;
}
main {
    height: 0;
    width: 0;
}

h1, h2 {
    font-family: Lexend;
}

#title1 {
    text-align: center;
    font-size: 3rem;
    margin-top: 25vh;
    margin-bottom: 0;
    height: 20vh;
}

#underTitle {
    text-align: center;
    font-size: 0.8rem;
    margin: 0px;
    margin-top: -10vh;  
}


button {
    margin-top: 5vh;
    display: flex;
    justify-self: center;
    border: 2px solid #000000;
    background-color: #ffffff;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    transition: 0.4s;
    border-radius: 5px;
    font-size: 1.6rem;
    text-align: center;
    font-family: Lexend;
}
button:hover {
    transform: translateY(-3px);
    box-shadow: 1px 2px rgb(69, 69, 69);
    cursor: pointer;
    border: 2px solid rgb(64, 138, 15);
    background-color: rgb(87, 194, 16);
    color: rgb(255, 255, 255);
}

#title2 {
    margin-bottom:2vh;
    margin-top: 0;
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
}

#game-notification-container {
    position:absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1000;
}
.notification {
    position: relative;
    white-space: nowrap;
    text-align: center;
    font-size: 1.5rem;
    animation: notificationFloat 1500ms forwards cubic-bezier(1,.44,.83,.67);
}

#end-screen {
    position: absolute;
    top: -20vh;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
    animation: endAnimation 1100ms ease-out forwards;
    z-index: 1000;
    padding-top: 20vh;
    display: flex;
    align-items: center;
    overflow-y: scroll;
}

#end-title {
    margin-top: 10vh;
}
#end-sub-title {
    margin-top: 0;
}

#stats-top-text {
    font-size: 1.7rem;
    margin-top: 0;
    text-align: center;
}
#stats-container {
    display: flex;
    height: fit-content;
    width: 40vw;
    background-color: white;
    border: 2px solid lightgray;
    flex-direction: column;
    padding: 10px;
    padding-bottom: 5vh;
    border-radius: 20px;
    margin-top: 5vh;
    
}
#guess-distribution {
    font-size: 1.4rem;
    margin-left: 2vw;

}
#stat-numbers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
#stat-numbers > * {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Lexend;

}
.stat-value-number {
    font-size: 3rem;
    transition: 0.3s;
    user-select: none;
}
.stat-value-number:hover {
    text-shadow: 0px 0px 10px rgb(119, 119, 119);
}

#stat-pillars {
    margin-left: 2vw;
}
.stat-pillar {
    height: 3vh;
    margin-bottom: 5px;
    display: flex;
    margin-left: 0.5vw;
    font-family: Lexend;
    align-items: center;

}
.pillar {
    display: flex;
    justify-content: flex-end;
    line-height: 3.2vh;
    background-color: rgb(80, 48, 219);
    width:24vw;
    height: 100%;
    min-width: 1vw;
    border-radius: 5px;
    color: white;
    padding-right: 0.2vw;
    box-sizing: border-box;
    margin-left:0.5vw;
    pointer-events: auto;
    transition: 0.3s;
}
.pillar:hover {

    box-shadow: 0px 0px 7px rgb(89, 75, 163);
}
.guess-amount {
    font-size: 1.5rem;
    line-height: 1.65rem;
    text-align: center;
    width: 20px;
}

#restartBtn {
    margin-top: -25px;
    border-color: lightgray;
    position: relative;
    z-index: 2;
}


#restartBtn:hover {
    border-color: rgb(64, 138, 15);
    scale: 1.05;
}

#button-wrapper {
    position: relative;
    background-color: white;
    padding: 0 15px;
    margin-top: -2px;
    
}

#settings {
    position: absolute;
    left: 50px;
    top: 50px;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background-color: #1f1f1f;
    border: 1px solid black;
    box-shadow: 0px 0px 5px rgb(71, 71, 71);
    align-items: center;
    display: flex;
    flex-direction: column;
    z-index: 1000;
    transition: 0.7s cubic-bezier(0.24, 1.3,0.64, 1);
}

.settings-hover {
    height: 200px !important;
}


.sub-setting {
    padding: 15px;
    color: white;
}
.sub-setting:hover {
    cursor: pointer;
}

#settings-arrow {
    padding: 15px;
    padding-bottom: 5px;
    transition: 200ms;
}

.arrow-hover {
    transform: translateY(4px) rotate(180deg);
}



#game-container {
    display: flex;
    position:relative;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}
#game-container > * {
    display: flex;
    flex-direction: column;
}
#boxes {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    justify-content: center;
    align-items: center;
    margin-bottom: 3vh;
    color: black;
}
.row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

#letters {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
}

#letRow1, #letRow2, #letRow3 {
    display: flex;
    justify-content: center;
}


@keyframes pop {
    0% {transform: scale(1); }
    50% {transform: scale(1.1); }
    100% {transform: scale(1)}
}

@keyframes yellow {
    0% {transform: scale(1) rotate(0deg); background-color:#ededed; color: rgb(69, 69, 69);}
    33% {transform: scale(1.05) rotate(5deg);}
    66% {transform: scale(1.05) rotate(-5deg);}
    100% {transform: scale(1) rotate(0deg); background-color:rgb(224, 210, 10); color: white;}
}
@keyframes green {
    0% {transform: scale(1) rotate(0deg); background-color:#ededed; color: rgb(69, 69, 69);}
    33% {transform: scale(1.05) rotate(5deg);}
    66% {transform: scale(1.05) rotate(-5deg);}
    100% {transform: scale(1) rotate(0deg); background-color:rgb(86, 160, 86); color: white;}
}
@keyframes grey {
    0% {transform: scale(1) rotate(0deg); background-color:#ededed; color: rgb(69, 69, 69);}
    33% {transform: scale(1.05) rotate(5deg);}
    66% {transform: scale(1.05) rotate(-5deg);}
    100% {transform: scale(1) rotate(0deg); background-color:rgb(130, 130, 130); color: white;}
}
@keyframes endAnimation {
    0% {transform: translateY(20vh); opacity: 0%;}
    100% {transform: translateY(0px); opacity: 100%;}
}

@keyframes notificationFloat {
    0% {opacity: 100%; transform: translateY(30px);}
    50% { opacity: 100%;}
    100% {opacity: 0; display: none;}
}
.box {  
    border: 1px solid #dfdfdf;
    background-color: #ededed;
    color:rgb(69, 69, 69);
    width: 50px;
    height: 50px;
    margin: 3px;
    border-radius: 7px;
    font-size: 2rem;
    text-align: center;
    line-height: 3rem;
    font-family: Lexend;
    font-weight: 600;
    user-select: none;
}

.letBox {
    border: 1px solid #dfdfdf;
    background-color: #ededed;
    color:rgb(69, 69, 69);
    width: 40px;
    height: 50px;
    margin: 3px;
    border-radius: 5px;
    font-size: 1.5rem;
    text-align: center;
    line-height: 3rem;
    font-family: Lexend;
    font-weight: 600;
    transition: transform 0.1s, background-color 0.3s, color 0.3s;
    user-select: none;
}
.wideBox {
    border: 1px solid #dfdfdf;
    background-color: #ededed;
    color:rgb(69, 69, 69);
    width: 65px;
    height: 50px;
    margin: 3px;
    border-radius: 5px;
    font-size: 1rem;
    text-align: center;
    line-height: 3rem;
    font-family: Lexend;
    font-weight: 600;
    transition: transform 0.1s;
    user-select: none;
}

#backspaceIcon {
    padding-right:3px;
    height: 32px;
    width: 32px;
    fill: #454545;
}

#backspace {
    font-size: 2.7rem;
    
}

.letBox:active, .wideBox:active {
    transform: translateY(2px) !important;
    cursor:pointer;
}

.letBox:hover, .wideBox:hover {
    transform: translateY(-3px);
    cursor:pointer;
}
.letBox.correctSpot, .letBox.wrongSpot, .letBox.wrongLetter {
    cursor: pointer;
    color: white;
}

.letBox.correctSpot {
    background-color: rgb(86, 160, 86);
}
.letBox.wrongSpot {
    background-color:rgb(224, 210, 10);
}
.letBox.wrongLetter {
    background-color: rgb(130, 130, 130);
}


.typed {
    animation: pop 0.1s ease-in-out;
}

.box.wrongSpot {
    animation: yellow 0.2s ease-in-out forwards;
}

.box.correctSpot {
    animation: green 0.2s ease-in-out forwards;
}
.box.wrongLetter {
    animation: grey 0.2s ease-in-out forwards;
}

@media (max-width: 600px) {
    body, html {
        overflow-x: hidden;
    }
    .box {
        width: 44px;
        height: 44px;
        font-size: 1.3rem;
        line-height: 44px;
        margin: 2px;
    }

    .letBox {
        width: 30px;
        height: 40px;
        font-size: 0.9rem;
        line-height: 40px;
        margin: 2px;
    }

    .wideBox {
        width: 50px;
        height: 40px;
        font-size: 0.7rem;
        line-height: 40px;
        margin: 2px;
    }

    #backspaceIcon {
        height: 32px;
        width: 20px;
    }

    #stats-container {
        width: 85vw;
    }

    .pillar {
        width: 55vw;
    }
}